<mat-card class="p-8 rounded-md overflow-hidden">
  <form [formGroup]="signupForm" class="flex flex-col">
    <div class="flex items-center gap-4">
      <mat-form-field  appearance="outline">
        <mat-label>First name</mat-label>
        <input formControlName="firstName" matInput placeholder="vishnu kumar">
        <span matSuffix class="material-symbols-outlined pr-4">tag</span>
      </mat-form-field>

      <mat-form-field  appearance="outline">
        <mat-label>Last name</mat-label>
        <input formControlName="lastName" matInput placeholder="kumar">
        <span matSuffix class="material-symbols-outlined pr-4">tag</span>
      </mat-form-field>
    </div>

    <mat-form-field  appearance="outline">
      <mat-label>Username</mat-label>
      <input formControlName="userName" matInput placeholder="kvi5hnu">
      <span matSuffix class="material-symbols-outlined pr-4">tag</span>
    </mat-form-field>

    <mat-form-field  appearance="outline">
      <mat-label>email</mat-label>
      <input formControlName="email" matInput placeholder="xyz@gmail.com">
      <span matSuffix class="material-symbols-outlined pr-4">tag</span>
    </mat-form-field>

    <mat-form-field  appearance="outline">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput placeholder="password">
      <span matSuffix class="material-symbols-outlined pr-4">tag</span>
    </mat-form-field>
    <div class="flex items-center justify-end gap-8">
      <button [disabled]="signupStatus?.isLoading" (click)="redirectToSignIn()" mat-stroked-button color="primary">
        Sign-In
      </button>
      <button [disabled]="signupStatus?.isLoading || !signupForm.valid || signupForm.pristine" (click)="registerUser()" mat-flat-button color="primary">
        <div class="flex items-center gap-3">
          Register
          <mat-spinner *ngIf="signupStatus?.isLoading" color="accent" [diameter]="16" class="animate-fade-in"></mat-spinner>
        </div>
      </button>
    </div>
  </form>
</mat-card>
